.show-global{
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pp-show h1 {
text-align: center;
margin : 30px;
font-weight: lighter;
font-family: futura;
color: #6759A3;

}

.card-pp {
  overflow: hidden;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-pp-infos {
  margin-right: 30px;
  margin-top: 80px;
}

.card-pp-img {
  height: 300px;
  width: 375px;
  border-radius: 2px;
  margin-right: 50px;
  position: relative;
}

.card-pp-descr {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 32px;
  margin-top: 8px;
}

.card-pp i {
  font-size: 20px;
  font-weight: bold;
  color: #6759A3;
}

.card-pp-price .card-pp-adress {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 32px;
  margin-top: 8px;
}

.btn {
  font-family: futura;
}

.card-pp-img-owner {
  border-radius: 50%;
  position: absolute;
  right: -40px;
  top: 20px;
  border: white 1px solid;
}

.img-pinte{
  position: absolute;
  left: 50px;
  top: 450px;
  width: 100px;
  height: 150px;
  animation: 4s linear tourne infinite;
  transform: rotate(0deg);

}


@keyframes tourne {
   33% {
    transform: rotate(-20deg);

  }
  66% {
    transform: rotate(20deg);
  }
}





