.show-global{
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pp-show h1 {
text-align: center;
margin : 30px;
font-weight: lighter;
font-family: futura;
color: #6759A3;

}

.card-pp {
  overflow: hidden;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-pp-img {
  height: 100%;
  width: 350px;
  border-radius: 2px;
  margin-right: 50px;
}

.card-pp-descr {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 32px;
  margin-top: 8px;
}

.card-pp i {
  font-size: 20px;
  font-weight: bold;
  color: #6759A3;
}

.card-pp-price .card-pp-adress {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 32px;
  margin-top: 8px;
}

.btn {
  font-family: futura;
}


.img-vinyl{
   position: absolute;
   right: -120px;
   bottom: -120px;
   width: 300px;
   height:300px;
}
.img-pinte{
   position: absolute;
   left: 50px;
   top: 60px;
   width: 100px;
   height: 150px;
}




