.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.avatar {
  height:45px;
  width:45px;
  object-fit: cover;
}
